<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.collabify.collabify" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_collabify_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ModeSelectActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_mode_select" />

        <!-- Needed for spotify login to work -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/label_settings" />
        <activity
            android:name=".activities.CreateEventActivity"
            android:label="@string/label_create_event" />
        <activity
            android:name=".activities.JoinEventActivity"
            android:label="@string/label_join_event" />
        <activity
          android:name=".activities.CollabifierActivity"
          android:label="@string/label_collabifier" />
        <activity
          android:name=".activities.DjActivity"
          android:label="@string/label_dj" />

        <!-- Fragments -->
        <fragment
          android:name=".fragments.CollabifierPlayerFragment"
          android:label="@string/label_collabifier_player" />
        <fragment
          android:name=".fragments.PlaylistFragment"
          android:label="@string/label_playlist" />
        <fragment
          android:name=".fragments.DjTracksFragment"
          android:label="@string/label_dj_tracks" />
        <fragment
          android:name=".fragments.UserListFragment"
          android:label="@string/label_user_list" />
    </application>

</manifest>
