<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.collabify.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_collabify_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Needed for spotify login to work -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.CollabifierSettingsActivity"
            android:label="CollabifierSettings" />

        <!-- need 2 new activities for settings? -->
        <activity
            android:name=".activities.DjSettingsActivity"
            android:label="DJ Settings" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="About" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_settings"
            android:screenOrientation="portrait" />

        <!-- Mode Activities -->
        <activity
            android:name=".activities.CreateEventActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_create_event"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.collabify.android.activities.JoinEventActivity" />
        </activity>
        <activity
            android:name=".activities.JoinEventActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_join_event"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Tab Activites -->
        <activity
            android:name=".activities.CollabifierActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_collabifier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DjActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/label_dj"
            android:screenOrientation="portrait" />

        <!-- make for sending search string in an intent -->
        <activity
            android:name=".activities.DetailedSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>

        <!-- only for testing fragments -->
        <activity
            android:name=".test.TestFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <!-- Fragments -->
        <fragment
            android:name=".fragments.CollabifierPlayerFragment"
            android:label="@string/label_collabifier_player" />
        <fragment
            android:name=".fragments.PlaylistFragment"
            android:label="@string/label_playlist" />
        <fragment
            android:name=".fragments.DjTracksFragment"
            android:label="@string/label_dj_tracks" />
        <fragment
            android:name=".fragments.UserListFragment"
            android:label="@string/label_user_list" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
